*{
    
    overflow-x: hidden;
    background-color: rgb(51, 66, 99);
}

#c{
    padding: 2em;
    overflow: hidden;
    border-radius: 15px;
}
#con{
    display: flex;
    
    
}
#con button{
    width: 1em;
    flex: 1;
    padding: 1.2em;
    border-radius: 10px;
    color: white;
}



.symb{
    background-color: rgb(53, 72, 119);
}

input{
    outline: none;
    border-radius: 10px;
    color: white;
    
}

